﻿body {
}
.footer {
    position: fixed; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}

/* top-line */

.top-line {
    position: absolute;
    width: 1920px;
    height: 44px;
    left: 0px;
    top: 0px;
}
/* Rectangle 1 */

.Rectangle_1 {
    position: absolute;
    width: 1920px;
    height: 44px;
    left: 0px;
    top: 0px;
    background: #000000;
}
/* eva:phone-outline */

.phone-outline {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 405px;
    top: 14px;
}
.secon_line {
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 0px;
    top: 44px;
}
/* Rectangle 2 */

.Rectangle_2 {
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 0px;
    background: #0F0F0F;
}